$vt-accent: (
  50 : #fee7ed,
  100 : #fcc3d1,
  200 : #fa9bb2,
  300 : #f87293,
  400 : #f7547c,
  500 : #f53665,
  600 : #f4305d,
  700 : #f22953,
  800 : #f02249,
  900 : #ee1637,
  A100 : #ffffff,
  A200 : #ffebed,
  A400 : #ffb8c1,
  A700 : #ff9eab,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
