$vt-primary: (
  50 : #fcede4,
  100 : #f9d1bb,
  200 : #f5b38e,
  300 : #f09461,
  400 : #ed7d3f,
  500 : #a83271,
  600 : #e75e1a,
  700 : #e45315,
  800 : #e14911,
  900 : #db380a,
  A100 : #ffffff,
  A200 : #ffdad2,
  A400 : #ffb09f,
  A700 : #ff9b85,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
